@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
.banner {
  background-color: hsl(185, 75%, 39%);
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat no-repeat;
  background-position: -20% 280%, 125% -200%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: hsl(229, 23%, 23%);
}

p {
  color: hsl(227, 10%, 46%);
}

img {
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-header {
  position: relative;
}

.header-image {
  border-radius: 1.25rem 1.25rem 0 0;
  height: 100%;
}

.profile-img {
  border-radius: 5rem;
  border: 0.4rem solid white;
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translate(-50%);
}

.card-bottom {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 4.75rem;
  border-radius: 0 0 1.25rem 1.25rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.info p {
  font-size: 1.25rem;
  padding-left: 0.75rem;
}

.subscribe-numbers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
  padding: 1.5rem;
  border-top: 0.05rem solid hsl(227, 38%, 86%);
  width: 100%;
}

.subscribers {
  text-align: center;
}

.subscribers p {
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
